@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 200;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

body {
  background-color: #212F3C;
  font-family: Product Sans;
}

#google-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-align: center;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  height: 140px;
  width: 350px;
  background-image: url(cyberpunk.jpg);
}

#google-banner-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  height: 140px;
  width: 350px;
}

#google-banner-images p {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  color: #F7DC6F;
  font-size: 25px;
  padding-top: 80px;
  padding-right: 10px;
}

.google-logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  top: 20px;
  height: 92px;
  width: 272px;
}

.search-text-big, .search-text-small {
  background: #212F3C;
  border-color: #F0F3F4;
  color: #F0F3F4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-width: thin;
}

.search-text-big {
  padding-left: 20px;
  border-radius: 25px;
  font-size: 18px;
  margin-top: 20px;
  width: 500px;
  height: 40px;
}

.search-text-small {
  padding-left: 10px;
  border-radius: 10px;
  font-size: 16px;
  width: 250px;
  height: 20px;
}

input:hover {
  background: #34495E;
}

input[type=submit] {
  background: #34495E;
  margin-top: 20px;
  display: block;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-color: #85929E;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  border-width: thin;
  color: #F0F3F4;
}

input[type=submit]:hover {
  background-color: crimson;
}

#advanced-button {
  background: dodgerblue;
  margin-top: 20px;
  display: block;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-color: dodgerblue;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  border-width: thin;
  color: #F0F3F4;
}

#advanced-button:hover {
  background-color: crimson;
  border-color: crimson;
}

#link-container {
  text-align: right;
  padding-right: 30px;
  text-decoration: none;
}

.external-link {
  color: #AED6F1;
  text-decoration: none;
  font-size: 18px;
}

.external-link:hover {
  color: crimson;
  text-decoration: underline;
}

#banner-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 120px;
      grid-template-columns: auto 120px;
}

#banner-grid img {
  width: 126px;
  height: 42px;
  padding-top: 10px;
  padding-left: 10px;
}

#grid-external-links {
  text-align: right;
}

.subtitle {
  color: #F7DC6F;
  font-size: 18px;
  padding-left: 100px;
}

#introduction-phrase {
  color: #F0F3F4;
  font-size: 25px;
  padding-left: 10px;
  padding-top: 30px;
}

#input-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 300px;
      grid-template-columns: 200px 300px;
}

#input-grid > div {
  color: #F0F3F4;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 10px;
}
/*# sourceMappingURL=styles.css.map */